* {
  box-sizing: border-box;
}

input,
textarea {
  border: 2px solid;
  border-radius: 0;
  padding: 0.3125rem;
  width: 100%;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.25;
}

input {
  height: 2.9375rem;
}

textarea {
  height: 10rem;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-height: calc(100vh - 1.5rem);
  max-width: 47rem;
  min-width: 20.75rem;
  padding: 1.5rem;
  overflow-y: scroll;
}

.box {
  border: .0625rem solid;
  padding: 1.5rem;
  overflow-y: scroll;
}

.box + .box {
  border-top: 0;
}

.post-data {
  display: flex;
  column-gap: 1.5rem;
}

* + .field {
  margin-top: 1.75rem;
}

.field-label {
  display: block;
  margin-bottom: 0.25rem;
}

.button {
  border: 2px solid #545454;
  border-radius: 1.3rem;
  padding: .675rem 1.5rem;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #545454;
}

.button:hover {
  background-color: #424242;
  border-color: #424242;
}

.font-weight-bold {
  font-weight: bold;
}
