* {
  box-sizing: border-box;
}

body {
  font-family: serif;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  max-width: 32rem;
  margin: 0 auto;
}

.App-title {
  margin: 0;
}

.contact-list {
  height: calc(100% - 8rem);
  width: 100%;
  border: .1875rem solid #545252;
  overflow-y: scroll;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 1rem;
  margin: 1rem 0;
  width: 100%;
}

.profile {
  border: 0.25rem solid black;
  border-radius: 50%;
}

.App-footer {
  align-self: stretch;
}

.bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}
