* {
  box-sizing: border-box;
}

.App {
  margin: 0 auto;
  min-width: 13.5rem;
  max-width: 71.25rem;
  padding: 1.5rem .75rem;
}

.App-title {
  margin-bottom: 3.75rem;
  margin-top: 0;
  font-size: 2.488rem;
}

.receipt-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 1.125rem;
}

.receipt {
  border: .0625rem solid #ffae90;
  margin: 1rem;
  max-width: 100%;
  padding: 1.5rem;
  width: 100%;
}

@media (min-width: 43rem) {
  .receipt {
    max-width: calc(50% - 2rem);
    width: calc(50% - 2rem);
  }
}

@media (min-width: 64.25rem) {
  .receipt {
    max-width: calc(33.33333% - 2rem);
    width: calc(33.33333% - 2rem);
  }
}

.person {
  margin: 2.25rem 2.25rem 2.25rem 0;
  font-size: 2.074rem;
  line-height: 1.3;
}

.order {
  padding: 0;
  list-style: none;
}

.order-item {
  margin: 2.25rem 0;
}

.text-bold {
  font-weight: bold;
}

.text-purple {
  color: #5b0082;
}
